<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Listagem de Cidades</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
<div class="container">
    <h1>Listagem de Cidades</h1>

    <a class="btn btn-primary" style="margin-bottom: 10px" href="/cities/new">Cadastrar</a>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Cidade</th>
            <th>UF</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="city : ${cities}">
            <tr>
                <td th:text="${city.city}"></td>
                <td th:text="${city.uf}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>