<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Listagem de Clientes</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
<div class="container">
    <h1>Listagem de Clientes</h1>


    <div class="container">
        <form th:object="${client}" method="get">
            <input type="text" class="form-control" id="name" placeholder="Pesquisa"/>
            <select id="type">
                <option th:value="Todos" th:text="Todos"></option>
                <option th:value="Nome" th:text="Nome"></option>
                <option th:value="Id" th:text="Id"></option>
            </select>
            <a class="btn btn-primary" href="{$name}/{}">Pesquisar</a>
        </form>
    </div>

    <a class="btn btn-primary" style="margin-bottom: 10px" href="/client/new">Cadastrar</a>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Genero</th>
            <th>Nascimento</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="client : ${client}">
            <tr>
                <td th:text="${client.id}"></td>
                <td th:text="${client.name}"></td>
                <td th:text="${client.gender}"></td>
                <td th:text="${client.dateBirth}"></td>
                <td th:text="${client.age}"></td>
                <td th:text="${client.city.city}"></td>
                <td th:text="${client.city.uf}"></td>
                <td>
                    <a th:href="@{'/client/' + ${client.id} + '/edit'}" href="#">Editar</a>
                    <a th:href="@{'/client/' + ${client.id} + '/delete'}"
                       th:onclick="'return confirm(\'Excluir este cliente?\')'" href="#">Excluir</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>